/* headerstyles */
/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  nav h4 {
    font-size: 30px;
    font-weight: bold;
  }
  nav .menu {
    display: flex;
    gap: 32px;
  }
  nav a:nth-child(1) {
    color: var(--orange);
  }
  nav a:nth-child(2) {
    color: var(--sky-blue);
  }
  nav a:nth-child(3) {
    color: var(--cyan);
  }
  nav a:nth-child(4) {
    color: var(--purple);
  }
  nav button {
    background: var(--orange);
  }
  nav .fa-bars {
    display: none;
  }


/* mainstyles */
/* herosection */
.hero .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
/* footer styles  */
/* font styles */
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* shared styles */
.container {
    width: 1160px;
    margin: 0 auto;
  }
/* body styles */
/* responsive styles */
